*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0;
   font-family: sans-serif;
   color: white;
   background: linear-gradient(#141e30, #243b55);
   height: 100vh;
 }
 .error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
 }